.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__ul ul {
  list-style: none;
  color: white;
}

li {
  color: lightgrey;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

li:not(:last-child) {
  margin-right: 40px;
}
li:hover {
  color: orange;
  cursor: pointer;
  padding-bottom: 8px;
}

.c__title {
  padding-top: 100px;
  padding-left: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  color: white;
}
